<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mybatis-spring="http://mybatis.org/schema/mybatis-spring"
	xsi:schemaLocation="http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.3.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring-1.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">
	
	<!-- 빈 등록 -->
	<context:component-scan base-package="cb"/>
	
	<!-- 디비 접속 프로퍼티 추가 -->
	<context:property-placeholder location="classpath:config/db_info.properties"/>
	
	<!-- dataSource -->
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="${db.driverClass}"/>
		<property name="url" value="${db.url}"/>
		<property name="username" value="${db.user}"/>
		<property name="password" value="${db.password}"/>
	</bean>
	
	<!-- 마이바티스 세션 팩토리빈 -->
	<bean class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		<property name="configLocation" value="classpath:config/mybatisConfig.xml"/>
	</bean>
	
	<!-- 마이바티스 매퍼 등록 -->
	<mybatis-spring:scan base-package="cb"/>
	
	<!-- 어노테이션 파라미터 처리를 위해서 -->
	<mvc:annotation-driven/>
	
	<mvc:default-servlet-handler/>
	
	<!-- gmail설정 -->
	<bean id="mailSender2" class="org.springframework.mail.javamail.JavaMailSenderImpl"> 
	     <property name="host" value="smtp.gmail.com" />
	     <property name="port" value="587" />
	 <property name="username" value="gusdud0725@gmail.com"/> <!-- 자신의 이메일 아이디 -->
	 <property name="password" value="gusdud2499!!"/> <!-- 자신의 비밀번호 -->
	 <!-- 보안연결 TLS과 관련된 설정 -->
	     <property name="javaMailProperties">
	    <props>
	       <prop key="mail.smtp.auth">true</prop>
	       <prop key="mail.smtp.starttls.enable">true</prop>
	    </props>
	     </property>
	</bean>
	
	<!-- navermail설정 -->
	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl"> 
	 <property name="host" value="smtp.naver.com"/> <!-- 메이서버 호스트 -->
	 <property name="port" value="465"/> <!-- 메이서버 포트번호 -->
	 <property name="username" value="ekek0725"/> <!-- 자신의 이메일 아이디 -->
	 <property name="password" value="gusdud0725!!"/> <!-- 자신의 비밀번호 -->
	   <!-- 보안연결 SSL과 관련된 설정 -->
	 <property name="javaMailProperties">
	  <props>
	  <prop key="mail.smtp.auth">true</prop>
	  <prop key="mail.smtp.starttls.enable">true</prop>
	  <prop key="mail.smtps.checkserveridentity">true</prop>
	  <prop key="mail.smtps.ssl.trust">*</prop>
	  <prop key="mail.debug">true</prop>
	  <prop key="mail.smtp.socketFactory.class">javax.net.ssl.SSLSocketFactory</prop>
	  </props>
	 </property>
	</bean>
	
	   <!-- 리소스 맵칭을 위한 설정 -->
   <!-- location=실제주소, mapping=가상주소 -->
   <!-- 
   <mvc:resources location="file:///C:/Users/rbfl6/Desktop/careerBascket/" mapping="/img/**"/>
   <mvc:resources location="file:///C:/Users/rbfl6/Desktop/careerBascket/" mapping="/logo/**"/>
    -->
   <mvc:resources location="/WEB-INF/resource/img/" mapping="/img/**"/>
   <mvc:resources location="/WEB-INF/resource/css/" mapping="/css/**"/>
   <mvc:resources location="/WEB-INF/resource/document/" mapping="/document/**"/>
   
</beans>
