@charset "utf-8";
@import url("reset.css");

.title_wrapper{
	width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.resume_title{
	font-size: 2em;
	margin-bottom: 2%
}

.text_box{
	margin-bottom: 2%;
}

div#allList_wrapper{
	width: 80%;
    position: absolute;
    margin-left: 10%;
    margin-right: 10%;
}

.resume_wrapper{
	margin-top: 10%;
}

.resume_outLine{
	border: 1px solid #cecece;
    padding: 2%;
    margin: 1%;
}

.date{
	margin: 1%;
	font-size: 10pt;
    color: gray;
}

.btn-color {
	color: #ffffff;
	background: #82B6ED;
    border: none;
    float:right;
}

.title{
	width: 500px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap
}
