@charset "UTF-8";
@import "reset.css";

.btn-color{
	color: #ffffff;
	background: #82B6ED;
    border: none;
    border-radius: 8px;
    /* btn btn-color btn-sm */
}

.all{
	position: absolute;
    top: 25%;
    left: 34%;
    text-align: center;	
}

.bottom{
	position: relative;
    top: 25px;
}

#confirm{
	color: #ffffff;
	background: #82B6ED;
    border: none;
    border-radius: 8px;
    width: 400px;
    height: 52px;
    font-size: 15px;
    font-weight: bold;
    margin-top: 19px;
    margin-bottom: 100px;
}

h1{
	font-size: 40px;
    font-weight: bold;
    margin-bottom: 46px;
}

#text{
	position: relative;
    left: -136px;
}


input{
	margin-top: 18px;
	margin-bottom: 14px;
    width: 400px;
    height: 50px;
}