@charset "utf-8";
@import url("reset.css");

body{
	font-family: 'Noto Sans KR', sans-serif;
	min-width: 1206px;
}

div#wrap{
	width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10%;
}