@charset "utf-8";
@import url("reset.css");

body{
	font-family: 'Noto Sans KR', sans-serif;
	min-width: 1206px;
}

div#wrap{
	width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 7rem;
}

div#info_form_wrapper{
	width:60%;
	margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
}

.btn-outline-primary{
	border-color:#82B6ED;
	color:#82B6ED;
}

.bg-primary{
    margin-bottom: 5%;
    background-color: #82B6ED!important;
}

.badge{
	line-height: 2;
	font-size: 1rem;
}

.col-sm-10{
	width: 29rem;
}

.col-form-label{
	width: 8rem;
}

.btn-photo{
	margin-top: 1rem;
    margin-left: 1rem;
}

.photo-wrap{
	float: right;
    margin-top: -3rem;
    margin-right: 1rem;
}
}