@charset "UTF-8";
@import "reset.css";

.p,.goFirstPage,.goBackPage,.goNextPage,.goLastPage,.disabled
	{
		float: left;
		margin-left: 30px;
		position: relative;
	    display: inline-block;
	}
.pagination{
	position: absolute;
	text-align: center;
	margin:0 auto;
	}
.info{float: right;}

